:root{
    --foregrand-dark: #d7d7d7;
    --foregrand-light: #ffffff;
    --background-dark: #ffc9d7;
    --backgrand-light: #fdc9d592;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    a{
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }
    .material-symbols-outlined{
        margin: .5rem;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--foregrand-light);
    margin: 0px;
    min-height: 1000px;
    font-family: 'Caveat', cursive;
    
    .bodyHeader{
        background-color: var(--background-dark);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed; 
        width: 100%;
        padding: .1rem;
        /* pozycje sticky używamy do menu */
        top: 0;
        /* box-shadow: ; */
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        h1{
            /* Jeśli podajemy dwie wartości to są góra dół, jeżeli 4 to zgodnie ze wskazókami zegara */
            margin: 10px;
            font-size: clamp(1.3rem, 2.5vw, 2rem);
        }
    }
    nav{
        #toggler{
            display: none;
                &:checked{
                    ~ ul{
                        right: 0;
                    }
                    ~ label div{
                        &:nth-child(1){
                            transform: rotate(45deg);
                            top: calc(50% - 2px)
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            transform: rotate(-45deg );
                            top: calc(50% - 2px);
                        }
                    }
                }
        }
    }

    
    label{
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5rem;
        div{
            height: 2px;
            width: 80%;
            background-color: black;
            position: absolute;
            transition: 0.3s;
            &:nth-child(1){
                top:calc(20% - 1px);
            }
            &:nth-child(2){
                top:calc(50% - 1px);
            }
            &:nth-child(3){
                top:calc(80% - 1px);
            }
        }
    }
    ul{
        position: fixed;
        flex-direction: column;
        background-color: var(--foregrand-dark);
        list-style-type: none;
        margin: 0;
        padding: .5rem;
        display: flex;
        right: -100%;
        top: 3.5rem;
        height: calc(100% - 3.5rem);
        transition:.5s;
        border-radius: 2rem 0rem 0rem 0rem;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        li{
            top: 0;
            left: 0;
            margin: .3rem;
        }
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 6rem ;
    header {
        width: 100%;
        h2{
            margin: 0;
            top: 3rem;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap:5px;
        background:var(--background-dark);
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        input, textarea{
            padding: 5px;
        }
    }
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px; 
    table{
        width: 100%;
        padding: 1rem;
        background-color:var(--foregrand-dark);
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        tr{
            &:nth-child( even ){
                background-color: var(--foregrand-dark);
            }
            td{
                background-color: var(--background-dark);
                padding: .3rem;
            }
            th{
                background-color: white;
                padding: .5rem;
            }
        }
    }
        
    p {
        margin: 0rem;
        padding: .5rem;
    }
    img{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }

    
 
/* Ustawianie elementow, żeby się nei rozjeżdżały */
footer{
    margin-top: 3rem;
    background-color: black;
    color: white;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:1rem;
    ol{
        list-style: none;
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
    p {
    margin:0;
    }
}
/* warunek wyłapujący wyświetlanie na komputerze */
@media(min-width:768px){
    body{
        .bodyHeader nav {
          ul {
            flex-direction: row;
            position: static;
            border-radius: 2rem 2rem 2rem 2rem;
          }
          label{
            display:none;
            
          }
        }
        .wrapper{
            min-height:70vh;
            flex-direction: row;
            &:nth-child(odd){
              flex-direction: row-reverse;
            }
            > * { 
              flex:1;
              text-align: center;
              padding:3rem;
            }
        }
    }
}
