@charset "UTF-8";
:root {
  --foregrand-dark: #d7d7d7;
  --foregrand-light: #eac9c9;
  --background-dark: #ffe1e9c8;
  --backgrand-light: #fdc9d592;
  --default-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
* a:hover {
  color: inherit !important;
}
* .material-symbols-outlined {
  margin: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: url(https://i.pinimg.com/236x/f4/87/77/f48777ce52d44a42cb0d7427cf6372a9--walls.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  min-height: 1000px;
  font-family: "Caveat", cursive;
}
body .bodyHeader {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.1rem;
  top: 0;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
  background-color: var(--background-dark);
  background-image: url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
  background-size: cover;
  background-position: left top;
}
body .bodyHeader h1 {
  /* Jeśli podajemy dwie wartości to są góra dół, jeżeli 4 to zgodnie ze wskazókami zegara */
  margin-left: 2rem;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
}
body .bodyHeader label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
body .bodyHeader label div {
  height: 2px;
  width: 80%;
  background-color: black;
  position: absolute;
  transition: 0.3s;
}
body .bodyHeader label div:nth-child(1) {
  top: calc(20% - 1px);
}
body .bodyHeader label div:nth-child(2) {
  top: calc(50% - 1px);
}
body .bodyHeader label div:nth-child(3) {
  top: calc(80% - 1px);
}
body .bodyHeader ul {
  position: fixed;
  flex-direction: column;
  list-style-type: none;
  padding: 0.5rem;
  display: flex;
  right: -100%;
  top: 3.5rem;
  height: calc(100% - 3.5rem);
  transition: 0.5s;
  border-radius: 2rem 0rem 0rem 0rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
  background-color: var(--background-dark);
  background-image: url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
  background-size: cover;
  background-position: left top;
}
body .bodyHeader ul li {
  top: 0;
  left: 0;
  margin: 0.3rem;
}
body .bodyHeader nav #toggler {
  display: none;
}
body .bodyHeader nav #toggler:checked ~ ul {
  right: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 2px);
}

#about {
  margin-top: 6rem;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.wrapper header {
  width: 100%;
}
.wrapper header h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.wrapper .content p {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
  border-radius: 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
  background-color: var(--background-dark);
  background-image: url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
  background-size: cover;
  background-position: left top;
}
.wrapper form input, .wrapper form textarea {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.737254902);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}
.content table {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
  background-color: var(--background-dark);
  background-image: url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
  background-size: cover;
  background-position: left top;
}
.content table tr:nth-child(even) {
  background-color: var(--foregrand-dark);
}
.content table tr td {
  background-color: var(--background-dark);
  padding: 0.3rem;
}
.content table tr th {
  background-color: rgba(255, 255, 255, 0.767);
  padding: 0.5rem;
}
.content p {
  margin: 0rem;
  padding: 0.5rem;
}
.content img {
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}

.projects .projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 3rem 0rem 3rem;
}
.projects .projectsWrapper .project {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  width: 28%;
  max-width: 7rem;
  border-radius: 0 0 1.4rem 1.4rem;
  margin: 0.25rem;
  margin-bottom: 2rem;
}
.projects .projectsWrapper .project header {
  background-color: rgba(255, 196, 224, 0.467);
  z-index: 1;
  position: relative;
  border-radius: 2rem;
  display: flex;
  margin-top: -0.75rem;
}
.projects .projectsWrapper .project header h3 {
  margin: 0;
  text-align: center;
}
.projects .projectsWrapper .project header p {
  opacity: 0;
  display: none;
}
.projects .projectsWrapper .project img {
  border-radius: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.projects .display {
  background-color: rgba(255, 196, 224, 0.467);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}
.projects .display a {
  color: red;
  font-size: large;
}
.projects .display ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.projects .display ul li {
  list-style-type: none;
}
.projects .display article {
  position: relative;
  display: inline-block;
}
.projects .display article .displayContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: right;
}
.projects .display article .displayContent h3, .projects .display article .displayContent p {
  margin: 0;
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 196, 224, 0.548);
  border-radius: 4rem;
  text-align: center;
}
.projects .display article img {
  max-height: 25vh;
}

footer {
  margin-top: 3rem;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 6rem;
  background-color: var(--background-dark);
  background-image: url(https://res.allmacwallpaper.com/get/Retina-MacBook-Air-13-inch-wallpapers/dark-starry-sky-stars-4k-2560x1600/22301-11.jpg);
  background-size: cover;
  background-position: left top;
}
footer ol {
  list-style: none;
  width: 50%;
}
footer ol a {
  justify-content: start;
  align-items: start;
}
footer p {
  margin: 1rem;
}

/* warunek wyłapujący wyświetlanie na komputerze */
@media (min-width: 768px) {
  body .bodyHeader nav ul {
    flex-direction: row;
    position: static;
    border-radius: 2rem 2rem 2rem 2rem;
    margin-right: 2rem;
    background: transparent;
  }
  body .bodyHeader nav label {
    display: none;
  }
  body .wrapper {
    min-height: 70vh;
    flex-direction: row;
  }
  body .wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }
  body .wrapper > * {
    flex: 1;
    text-align: center;
    padding: 3rem;
  }
}