@charset "UTF-8";
:root {
  --foregrand-dark: #d7d7d7;
  --foregrand-light: #ffffff;
  --background-dark: #ffe1e9;
  --backgrand-light: #fdc9d592;
  --default-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
* a:hover {
  color: inherit !important;
}
* .material-symbols-outlined {
  margin: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--foregrand-light);
  margin: 0px;
  min-height: 1000px;
  font-family: "Caveat", cursive;
}
body .bodyHeader {
  z-index: 2;
  background-color: var(--background-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0.1rem;
  /* pozycje sticky używamy do menu */
  top: 0;
  /* box-shadow: ; */
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}
body .bodyHeader h1 {
  /* Jeśli podajemy dwie wartości to są góra dół, jeżeli 4 to zgodnie ze wskazókami zegara */
  margin-left: 2rem;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
}
body nav #toggler {
  display: none;
}
body nav #toggler:checked ~ ul {
  right: 0;
}
body nav #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
body nav #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
body nav #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 2px);
}
body label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.15rem;
}
body label div {
  height: 2px;
  width: 80%;
  background-color: black;
  position: absolute;
  transition: 0.3s;
}
body label div:nth-child(1) {
  top: calc(20% - 1px);
}
body label div:nth-child(2) {
  top: calc(50% - 1px);
}
body label div:nth-child(3) {
  top: calc(80% - 1px);
}
body ul {
  position: fixed;
  flex-direction: column;
  background-color: var(--foregrand-dark);
  list-style-type: none;
  margin-right: 2rem;
  padding: 0.5rem;
  display: flex;
  right: -100%;
  top: 3.5rem;
  height: calc(100% - 3.5rem);
  transition: 0.5s;
  border-radius: 2rem 0rem 0rem 0rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}
body ul li {
  top: 0;
  left: 0;
  margin: 0.3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.wrapper header {
  width: 100%;
}
.wrapper header h2 {
  margin: 0;
  padding: 5rem 1rem 1rem 1rem;
  text-align: center;
}
.wrapper .content p {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
  background: var(--background-dark);
  border-radius: 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}
.wrapper form input, .wrapper form textarea {
  padding: 5px;
}
.wrapper .img img {
  margin-top: 5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}

.projects {
  border: 2px dashed red;
}
.projects .projectsWrapper {
  border: 2px dashed blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projectsWrapper .project {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  width: 30%;
  margin: 0.5rem;
}
.projects .projectsWrapper header {
  background-color: var(--background-dark);
  z-index: 1;
  position: relative;
}
.projects .projectsWrapper header h3 {
  margin: 0;
}
.projects .projectsWrapper header p {
  opacity: 0;
  display: none;
}
.projects .projectsWrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 1.4rem 1.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}
.content table {
  width: 100%;
  padding: 1rem;
  background-color: var(--foregrand-dark);
  border-radius: 1rem;
  box-shadow: 0px 0px 41px -8px rgb(89, 89, 89);
}
.content table tr:nth-child(even) {
  background-color: var(--foregrand-dark);
}
.content table tr td {
  background-color: var(--background-dark);
  padding: 0.3rem;
}
.content table tr th {
  background-color: white;
  padding: 0.5rem;
}
.content p {
  margin: 0rem;
  padding: 0.5rem;
}
.content .display {
  border: 5px dashed green;
}
.content .display ul {
  margin: 0;
  padding: 0;
  display: flex;
  border: 4px dashed darkcyan;
  justify-content: space-between;
}
.content .display ul li {
  list-style-type: none;
  border: 2px dashed blue;
}

/* Ustawianie elementow, żeby się nei rozjeżdżały */
footer {
  margin-top: 3rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
footer ol {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
}
footer p {
  margin: 0;
}

/* warunek wyłapujący wyświetlanie na komputerze */
@media (min-width: 768px) {
  body .bodyHeader nav ul {
    flex-direction: row;
    position: static;
    border-radius: 2rem 2rem 2rem 2rem;
  }
  body .bodyHeader nav label {
    display: none;
  }
  body .wrapper {
    min-height: 70vh;
    flex-direction: row;
  }
  body .wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }
  body .wrapper > * {
    flex: 1;
    text-align: center;
    padding: 3rem;
  }
}