:root{
    --foregrand-dark: #d7d7d7;
    --foregrand-light: #ffffff;
    --background-dark: #ffe1e9;
    --backgrand-light: #fdc9d592;
    --default-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    a{
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        &:hover{color:inherit !important;}
    }
    .material-symbols-outlined{
        margin: .5rem;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--foregrand-light);
    background-image: url(https://i.pinimg.com/236x/f4/87/77/f48777ce52d44a42cb0d7427cf6372a9--walls.jpg); background-attachment: fixed ; 
    background-size: cover ;
    margin: 0px;
    min-height: 1000px;
    font-family: 'Caveat', cursive;
    
        .bodyHeader{
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed; 
        width: 100%;
        padding: .1rem;
        top: 0;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        background-color: var(--background-dark);
        background-image:  url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
        background-size: cover;
        background-position: left top;
                  
        h1{
            /* Jeśli podajemy dwie wartości to są góra dół, jeżeli 4 to zgodnie ze wskazókami zegara */
            margin-left: 2rem;
            font-size: clamp(1.3rem, 2.5vw, 2rem);
        }
        label{
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            div{
                
                height: 2px;
                width: 80%;
                background-color: black;
                position: absolute;
                transition: 0.3s;
                &:nth-child(1){
                    top:calc(20% - 1px);
                }
                &:nth-child(2){
                    top:calc(50% - 1px);
                }
                &:nth-child(3){
                    top:calc(80% - 1px);
                }
            }
        }
        ul{
            position: fixed;
            flex-direction: column;
            list-style-type: none;
            padding: .5rem;
            display: flex;
            right: -100%;
            top: 3.5rem;
            height: calc(100% - 3.5rem);
            transition:.5s;
            border-radius: 2rem 0rem 0rem 0rem;
            -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
            -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
            box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
            background-color: var(--background-dark);
            background-image:  url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
            background-size: cover;
            background-position: left top;
            li{
                top: 0;
                left: 0;
                margin: .3rem;
            }
        }
        nav{
            #toggler{
                display: none;
                    &:checked{
                        ~ ul{
                            right: 0;
                        }
                        ~ label div{
                            &:nth-child(1){
                                transform: rotate(45deg);
                                top: calc(50% - 2px)
                            }
                            &:nth-child(2){
                                opacity: 0;
                            }
                            &:nth-child(3){
                                transform: rotate(-45deg );
                                top: calc(50% - 2px);
                            }
                            
                        }
                    }
            }
        }
    }
}

    
#about{
    margin-top: 6rem;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem ;
    header {
        width: 100%;
        h2{
            margin: 0;
            padding: 1rem;
            text-align: center;
        }
    }
    .content{
        p{
            margin: 0;
            margin-bottom: 2rem;
            line-height: 1.2rem;
        }
    }


    form{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap:5px;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        background-color: var(--background-dark);
        background-image:  url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
        background-size: cover;
        background-position: left top;
        input, textarea{
            padding: 5px;
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px; 
    table{
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        background-color: var(--background-dark);
        background-image:  url(https://fotoomnia.com/zdjecia/thumb/a5519fd94e08a84b4b6fa0ebb43a9b60.jpg);
        background-size: cover;
        background-position: left top;
        tr{
            &:nth-child( even ){
                background-color: var(--foregrand-dark);
            }
            td{
                background-color: var(--background-dark);
                padding: .3rem;
            }
            th{
                background-color: white;
                padding: .5rem;
            }
        }
    }
        
    p {
        margin: 0rem;
        padding: .5rem;
    }
    img{
        margin-top: 1rem;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        -moz-box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
        box-shadow: 0px 0px 41px -8px rgba(89, 89, 89, 1);
    }


}

.projects{

    .projectsWrapper{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem 3rem 0rem 3rem;
        
      .project{
        cursor: pointer;
        position:relative;
        aspect-ratio: 1/1;
        width:28%;
        max-width: 7rem;
        border-radius:0 0 1.4rem 1.4rem;
        margin:.25rem;
        margin-bottom: 2rem;
        header{
          background-color: rgb(255, 255, 255);
          z-index: 1;
          position: relative;
          h3{
            margin:0;
          }
          p{
            opacity:0;
            display:none;
          }
        }
        img{
          border-radius:1.2rem;
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;

        }
      }
    }

    .display{
      background-color: #f6f5f44e;
      display:flex;
      flex-direction: column;
      align-items: center;
     
            
      ul{
        margin:0;
        padding:0;
        display:flex;
        justify-content: space-between;
        li{
          list-style-type: none;
        }
      }

      article{
        position: relative;
        display:inline-block;
        
        
        

        .displayContent{
          position:absolute;
          width:100%;
          height:100%;
          display:flex;
          flex-direction: column;
          justify-content: end;
          align-items: end;
          text-align: right;
          
          h3, p{
            margin:0;
            padding:.5rem 1.5rem;
            background-color: rgba(240, 248, 255, 0.735);
          }
        }
        img{
          max-height:25vh;
        }
      }
    }
}   
 footer{
    margin-top: 3rem;
    color: white;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
    background-color: var(--background-dark);
    background-image:  url(https://res.allmacwallpaper.com/get/Retina-MacBook-Air-13-inch-wallpapers/dark-starry-sky-stars-4k-2560x1600/22301-11.jpg);
    background-size: cover;
    background-position: left top;
     

    ol{
        list-style: none;
        width: 50%;
        a{
            
            justify-content: start;
            align-items: start;
            
        }
    }
    p {
    margin:1rem;
    }
}
/* warunek wyłapujący wyświetlanie na komputerze */
@media(min-width:768px){
    body{
        .bodyHeader nav {
          ul {
            flex-direction: row;
            position: static;
            border-radius: 2rem 2rem 2rem 2rem;
            margin-right: 2rem;
          }
          label{
            display:none;
            
          }
        }

        .wrapper{
            min-height:70vh;
            flex-direction: row;
          
            &:nth-child(odd){
              flex-direction: row-reverse;
            }
            > * { 
                flex:1;
                text-align: center;
                padding:3rem;
            }
        }
       
    }
}

